@import "/src/Sass/animations.scss";

.About {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeDownAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  &--title {
    font-size: 3rem;
  }

  &--subtitle {
    font-size: 2rem;
  }

  &--link {
    img {
      height: 4rem;
    }
  }
}
