@keyframes fadeInAnimation {
  from {
    transform: translate3d(0, 200px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeDownAnimation {
  from {
    opacity: 0.3;
    transform: translate(-50%, -150%);
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
