@import "/src/Sass/abstracts.scss";

.cavitybalance {
  padding-top: 5rem;
  // margin-left: 20vh;
  margin-bottom: 30vh;
  text-align: center;

  &__form {
    font-size: 2rem;

    &--inputgroup {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem;

      span {
        font-size: 1.5rem;
      }

      input {
        width: 8rem;
      }
    }
  }

  &__label {
    font-size: 1.5rem;
  }

  &__table {
    height: 20vh;
  }
  &__chart {
    display: block;
    margin: auto;
    padding: 0;
    max-height: 500px;
    max-width: 500px;
    overflow: auto;
    @include respond-max(375px) {
      max-width: 250px;
    }
    @include respond-max(375px) {
      max-width: 280px;
    }
  }
}
