@import "/src/Sass/abstracts.scss";

.viscositycurve {
  padding-top: 5rem;
  margin-left: 20vh;
  text-align: left;

  @include respond-max(1000px) {
    margin-left: 10vh;
  }

  @include respond-max(740px) {
    margin-left: 5vh;
  }

  &__form {
    font-size: 2rem;

    &--intensificationratio {
      &-label {
        padding: 0 1rem;
      }

      &-input {
        display: inline-block;

        @include respond-max(320px) {
          width: 80%;
        }
      }
    }

    &--inputgroup {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0 1rem;

      span {
        font-size: 1.5rem;
      }

      input {
        width: 7.5rem;
      }
    }
  }

  &__table {
    // overflow-x: auto;
    height: 50vh;
    margin: auto;
    padding-left: 10rem;
    @include respond-max(740px) {
      margin: 0;
      padding: 0;
      margin-left: 1rem;
    }
  }

  &__chart {
    display: block;
    padding: 0;
    max-height: 40rem;
    max-width: 40rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
