<app-study-title name="Cosmetic Process Window"></app-study-title>

<div class="mb-3">
  <h4>Input Data</h4>

  <div class="wrapper">
    <hot-table
      licenseKey="non-commercial-and-evaluation"
      [colHeaders]="true"
      [rowHeaders]="true"
      [data]="dataset"
      #hot
    >
      <hot-column data="meltMoldTemp" title="Melt/Mold Temp"></hot-column>
      <hot-column data="lowProcess" title="Low Process"></hot-column>
      <hot-column data="highProcess" title="High Process"></hot-column>
    </hot-table>
  </div>
</div>

<div class="mb-3">
  <div class="d-grid gap-2">
    <button type="button" class="btn btn-success" (click)="updateGraph()">
      Graph
    </button>
  </div>
  <div class="d-grid gap-2 mt-2">
    <div class="alert alert-primary" role="alert">
      <p>Optimal melt temprature: {{ optimalTemperature }}&deg;</p>
      <p>Optimal holding pressure: {{ optimalPressure }}psi</p>
    </div>
  </div>

  <div class="mb-3">
    <div class="chart-container">
      <canvas
        baseChart
        width="400"
        height="400"
        [datasets]="scatterChartData"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
      ></canvas>
    </div>
  </div>
</div>
