@import "/src/Sass/animations.scss";
@import "/src/Sass/abstracts.scss";

.home {
  margin-top: 4rem;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: center;

  @include respond-between(1025px, 1400px) {
    margin-left: 15%;
  }

  &--title {
    margin-top: 10rem;
    font-size: 3rem;
  }

  &--img {
    margin: auto;
    width: 80%;
    max-width: 60rem;
  }
}
