@import "/src/Sass/animations.scss";

.home {
  margin-top: 4rem;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: center;

  &--title {
    margin-top: 10rem;
    font-size: 3rem;
  }

  &--img {
    margin: auto;
    width: 80%;
    max-width: 60rem;
  }
}
