@import "/src/Sass/abstracts.scss";

.sidebar {
  z-index: 1000;
  grid-area: sidebar;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--color-grey-light);
  height: 100%;
  overflow: auto;

  &--showed {
    widh: 100%;
    display: block;
  }

  &--hidden {
    width: 0;
    display: none;
  }

  button {
    display: block;
    color: black;
    height: 5rem;
    width: 100%;
    border: 0;
    padding: 16px;
    background-color: inherit;
    text-align: left;
    font-weight: bold;
    font-size: 100%;
    font-family: inherit;
    cursor: pointer;

    @include respond-max(400px) {
      text-align: center;
      float: none;
    }

    &.active {
      background-color: var(--color-primary-light);
      color: white;
      cursor: default;
    }

    &:hover:not(.active) {
      background-color: var(--color-primary);
      color: white;
    }
  }

  &__toggler {
    position: fixed;
    width: 3rem;
    cursor: pointer;
    top: 5rem;
    left: 210px;
  }
}
