@import "/src/Sass/abstracts.scss";

.sidebar {
  position: fixed;
  height: 90%;
  z-index: 10;
  margin-top: 4rem;
  padding: 0;
  background-color: var(--color-grey-light);
  overflow: auto;
  transition: all 0.3s;

  &--showed {
    width: 180px;
  }

  &--hidden {
    width: 50px;
    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: var(--background-color-light);
    }
  }

  button {
    display: block;
    color: black;
    height: 5rem;
    width: 100%;
    border: 0;
    padding: 0.6rem;
    margin: 0.5rem 0;
    background-color: inherit;
    text-align: left;
    font-weight: bold;
    font-family: inherit;
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 1000;

    @include respond-max(400px) {
      text-align: center;
      float: none;
    }

    &:hover:not(.active) {
      background-color: var(--color-primary);
      color: white;
    }
  }
  .active {
    button {
      background-color: var(--color-secondary);
      color: white;
      cursor: default;
    }
  }

  &__toggler {
    position: absolute;
    cursor: pointer;
    width: 3rem;
    top: 1.4rem;

    &--showed {
      left: 130px;
      transform: rotate(0deg);
    }

    &--hidden {
      left: 15px;
      z-index: 1000;
      transform: rotate(180deg);
    }
  }
}

.home-btn {
  display: float;
  width: 100px;
}
