.wrapper {
	padding: 10px;
	margin-left: 82px;
	padding-top: 75px;
	background: var(--second-bg-color);
	transition: margin-left .5s;
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.row:after, .row:before {
	box-sizing: border-box;
}

[class*="col-"] {
	padding: 10px;
}

.counter {
	padding: 16px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 250px;
}

.counter-btn {
  height: auto;
  cursor: pointer;
}

.couner i {
	font-size: 50px;
}

.card {
	background: var(--main-bg-color);
	color: var(--main-color);
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-header {
	padding: 15px 30px;
	border-bottom: 1px solid var(--second-bg-color);
	position: relative;
}

.card-header i {
	color: var(--main-color);
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.card-header i:hover {
	cursor: pointer;
}

.card-header h3 {
	margin: 0;
}

.card-content {
  padding: 20px;
  height: 50vh;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
  border-radius: 4px;
  font-size: large;
  width: 100px;
}

.button-success{
  border-style: none;
  background-color: var(--success-color);
  color: white;
  font-size: large;
}



button {
  background-color: var(--warning-color);
  border: none;
  color: white;
  padding: 2px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  width: 150px;
  cursor: pointer;
}

.danger{
  background-color: var(--danger-color);
}


/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
	.wrapper {
		margin-left: 0;
	}
}
