<div
  class="wrapper"
  [ngStyle]="{ 'margin-left': this.isOpen ? '250px' : '82px' }"
  [ngClass]="{ light: this.isLight, dark: !this.isLight }"
>
  <div class="row">
    <div class="col-6 col-m-12 col-sm-12">
      <div class="counter bg-primary">
        <p>
          <i class="fas fa-arrow-up"></i>
        </p>
        <h3>Intensification Ratio</h3>
        <input type="number" value="1.5411" required #intensificationRatio />
      </div>
    </div>

    <div class="col-6 col-m-12 col-sm-12">
      <div class="counter bg-primary">
        <p>
          <input type="number" value="1" #numberOfRows />
          <button (click)="addRows(numberOfRows.value)">Add Row (s)</button>
          <button class="danger" (click)="deleteRows()">Delete Rows</button>
        </p>

        <h3>Incremental</h3>
        <p>
          From <input type="number" value="0.3" #initial /> By
          <input type="number" value="0.3" #step />
        </p>
        <p><input type="number" value="5" #times /> Times</p>
        <button
          (click)="
            addIncrementalRows(+initial.value, +step.value, +times.value)
          "
        >
          Add Rows
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-m-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3>Input Table</h3>
        </div>
        <div class="card-content">
          <hot-table
            class="table"
            licenseKey="non-commercial-and-evaluation"
            [colHeaders]="true"
            [rowHeaders]="true"
            [contextMenu]="true"
            [data]="dataset"
            #hot
          >
            <hot-column
              data="InjectionSpeed"
              title="Injection Speed"
            ></hot-column>
            <hot-column data="FillTime" title="Fill Time"></hot-column>
            <hot-column
              data="InjectionPressure"
              title="Injection Pressure"
            ></hot-column>
            <hot-column
              data="PlasticPressure"
              [readOnly]="true"
              title="Plastic Pressure"
            ></hot-column>
            <hot-column
              data="ShearRate"
              [readOnly]="true"
              title="Shear Rate"
            ></hot-column>
            <hot-column
              data="Viscosity"
              [readOnly]="true"
              title="Viscosity"
            ></hot-column>
            <hot-column
              data="percentageVariation"
              [readOnly]="true"
              title="%Variation"
            ></hot-column>
          </hot-table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-m-12 col-sm-12">
      <div class="counter counter-btn bg-success" (click)="calculate(+intensificationRatio.value)">
        <button class="button-success">
          <i class="fas fa-calculator"> Calculate</i>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-m-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3>Chartjs</h3>
        </div>
        <div class="card-content">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
