<div class="sidebar">
  <a>Viscosity Curve</a>
  <a>Cavity Balance</a>
  <a>Pressure Drop</a>
  <a>Cosmetic Process Window</a>
  <a>Gate Seal</a>
  <a>Cooling Time</a>
</div>

<div id="main">
  <article>
    <header>
      <h1 class="main_title">Title</h1>
    </header>
    <div class="section">
      <section>
        <h2>Create the table here</h2>
        <p>Test</p>
      </section>
    </div>
    <div class="section">
      <section>
        <h2>Create the graph here</h2>
        <p>Test</p>
      </section>
    </div>
  </article>
</div>
