h1 {
  color: #999b84;
  margin: 13px auto;
  cursor: pointer;
}

span {
  color: #f05454;
}

.navbar {
  display: flex;
  flex-direction: row;
  background: var(--main-bg-color);
  color: var(--main-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.nav-link {
  float: left;
  text-align: center;
  padding: 21px 20px;
  text-decoration: none;
  font-size: 17px;
  color: var(--second-color);
  position: relative;
}

.nav-link:hover {
  cursor: pointer;
}

.navbar-nav i {
  font-size: 1.4rem;
  padding-right: 0.5rem;
}

.nav-right {
  margin-left: auto;
}

.navbar-center {
  position: relative;
  margin: auto;
  width: 80%;
  text-align: center;
}


/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
	.nav-right .nav-item {
		display: none;
	}
	.nav-right .mode, .nav-right .avt-wrapper {
		display: list-item;;
	}
	.navbar-search {
		display: none;
	}
}
