<!-- navbar -->
<div class="navbar" [ngClass]="{'light': this.isLight, 'dark': !this.isLight}">
	<!-- nav left -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link">
				<i class="fas fa-bars" (click)="toggleSidebar()"></i>
			</a>
		</li>
	</ul>
	<!-- end nav left -->
	<div class="navbar-center">
		<h1 routerLink="home">Scientific <span>Molding</span></h1>
	</div>

	<!-- nav right -->
	<ul class="navbar-nav nav-right">
		<li class="nav-item mode">
			<a class="nav-link" href="#" (click)="toggleTheme()">
				<i class="fas fa-moon dark-icon"></i>
				<i class="fas fa-sun light-icon"></i>
			</a>
		</li>
	</ul>
	<!-- end nav right -->
</div>
<!-- end navbar -->

