.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  grid-area: header;
  height: 4rem;
  text-align: center;
  background-color: var(--background-color);
  color: #dddddd;

  span {
    color: #f05454;
  }

  h1 {
    margin: 0;
  }
}
