.handsontable th {
  z-index: -1000;
}

.wrapper {
  display: flex;
  overflow-x: auto;
  height: 50vh;
}

.chart-container {
  display: block;
  margin: auto;
  padding: 0;
  max-height: 40rem;
  max-width: 40rem;
}
