<app-study-title name="Cavity Balance"></app-study-title>

<div class="mb-3">
  <h4>Input Data</h4>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text">No. Rows</span>
    </div>
    <input type="number" class="form-control" placeholder="10" #noRows />
    <button
      type="button"
      class="btn btn-primary"
      (click)="addRows(+noRows.value)"
    >
      Add Rows
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteAllRows()">
      Delete All Rows
    </button>
  </div>
  <div class="btn-group mx-2 mb-2" role="rows-group">
    <button type="button" class="btn btn-primary" (click)="addRow()">
      Add Row
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteLastRow()">
      Delete Last Row
    </button>
  </div>
  <div class="btn-group mx-2 mb-2" role="cols-group">
    <button type="button" class="btn btn-primary" (click)="addColumn()">
      Add New Column
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteColumn()">
      Delete Column
    </button>
  </div>
  <div class="wrapper">
    <hot-table
      licenseKey="non-commercial-and-evaluation"
      [colHeaders]="true"
      [rowHeaders]="true"
      [contextMenu]="true"
      [data]="dataset"
      #hot
    >
      <hot-column data="weight1" title="Weight 1"></hot-column>
      <hot-column data="weight2" title="Weight 2"></hot-column>
      <hot-column data="weight3" title="Weight 3"></hot-column>
      <!-- <hot-column data="weight4" title="Weight 4"></hot-column> -->
    </hot-table>
  </div>
</div>

<div class="mb-3">
  <div class="d-grid gap-2">
    <button type="button" class="btn btn-success" (click)="calculate()">
      Calculate
    </button>
  </div>
</div>

<div class="mb-3">
  <div class="chart-container">
    <canvas
      baseChart
      width="400"
      height="400"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
    ></canvas>
  </div>
</div>
