:root {
  --color-primary-text: #161d6f;

  --color-primary: #f05454;
  --color-primary-light: #487e95;
  --color-secondary: #719fb0;
  --color-white: #eeeeee;
  --color-black: #23120b;
  --color-grey: #d9dab0;
  --color-grey-light: #e2e2e2;
  --color-icons: #e2e2e2;
  --background-color: #222831;
  --background-color-light: #bdc7c9;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--color-white);
}

body {
  box-sizing: border-box;
  margin: auto;
  background-color: var(--background-color-light);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border-radius: 50px;
  border-style: none;
  font-size: 2rem;
  padding: 0 10px;
}

.btn {
  /* padding: 0.5rem 1rem; */
  margin: 0.1rem 0.4rem;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: var(--color-white);
}

.btn:active {
  transform: translateY(3px);
  box-shadow: 0.1rem 0.3rem 1rem rgba(0, 0, 0, 0.4);
}

.btn-blue {
  background-color: #0d6efd;
}

.btn-red {
  background-color: #dc3545;
}

.btn-calculate {
  background-color: #198754;
}
.handsontable th {
  z-index: -1000;
}

.handsontable {
  position: absolute;
  left: 25%;
}

@media only screen and (max-width: 1500px) {
  .handsontable {
    left: 20%;
  }
}

@media only screen and (max-width: 1200px) {
  .handsontable {
    left: 15%;
  }
}

@media only screen and (max-width: 1000px) {
  .handsontable {
    left: 10%;
  }
}
@media only screen and (max-width: 450px) {
  .handsontable {
    left: 0%;
  }
}
