<div class="sidebar" [ngStyle]="{'width': (this.isOpen?'250px':'82px')}"
    [ngClass]="{'light': this.isLight, 'dark': !this.changeThemeService.light}"
    (mouseenter)="this.enterHover()"
    (mouseleave)="this.leaveHover()">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a routerLink="viscositycurve" class="sidebar-nav-link" routerLinkActive="active">
                <div >
                    <i class="fas fa-water fa-sm"></i>
                </div>
                <span>
                    Viscosity Curve
                </span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a routerLink="cavitybalance" class="sidebar-nav-link" routerLinkActive="active">
                <div>
                    <i class="fas fa-balance-scale-right"></i>
                </div>
                <span>Cavity Balance</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a routerLink="pressuredrop" class="sidebar-nav-link" routerLinkActive="active">
                <div>
                    <i class="fas fa-fill-drip"></i>
                </div>
                <span>Pressure Drop</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a routerLink="cosmeticprocesswindow" class="sidebar-nav-link" routerLinkActive="active">
                <div>
                    <i class="fas fa-thumbs-up"></i>
                </div>
                <span>Cosmetic Process Window</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a routerLink="gateseal" class="sidebar-nav-link" routerLinkActive="active">
                <div>
                    <i class="fas fa-hand-lizard"></i>
                </div>
                <span>Gate Seal</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a routerLink="coolingtime" class="sidebar-nav-link" routerLinkActive="active">
                <div>
                    <i class="fas fa-stopwatch"></i>
                </div>
                <span>Cooling Time</span>
            </a>
        </li>
    </ul>
</div>
